<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://alecto-001-site4.htempurl.com:8172/MsDeploy.axd?site=alecto-001-site4</MSDeployServiceURL>
    <DeployIisAppPath>alecto-001-site4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\alecto-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="YouthInitiative.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="YouthInitiative.Models.ApplicationDbContext, YouthInitiative" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="YouthInitiative.Models.VideoUrlsDBContext" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5012.SmarterASP.NET;Initial Catalog=DB_9EE885_uam;User ID=DB_9EE885_uam_admin;Password=seige123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="YouthInitiative.Models.VideoUrlsDBContext, YouthInitiative" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="YouthInitiative.Models.WebPostContext" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL5012.SmarterASP.NET;Initial Catalog=DB_9EE885_uam;User ID=DB_9EE885_uam_admin;Password=seige123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="YouthInitiative.Models.WebPostContext, YouthInitiative" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5012.SmarterASP.NET;Initial Catalog=DB_9EE885_uam;User Id=DB_9EE885_uam_admin;Password=seige123;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5012.SmarterASP.NET;Initial Catalog=DB_9EE885_uam;User Id=DB_9EE885_uam_admin;Password=seige123;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)YouthInitiative.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)YouthInitiative.Models.VideoUrlsDBContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5012.SmarterASP.NET;Initial Catalog=DB_9EE885_uam;User ID=DB_9EE885_uam_admin;Password=seige123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)YouthInitiative.Models.WebPostContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5012.SmarterASP.NET;Initial Catalog=DB_9EE885_uam;User ID=DB_9EE885_uam_admin;Password=seige123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="YouthInitiative.Models.ApplicationDbContext" />
    <_ConnectionStringsToInsert Include="YouthInitiative.Models.VideoUrlsDBContext" />
    <_ConnectionStringsToInsert Include="YouthInitiative.Models.WebPostContext" />
  </ItemGroup>
</Project>